.ProseMirror {
  > :first-child {
    margin-top: 0.5em;
  }

  br + br.ProseMirror-trailingBreak,
  &[contenteditable='false'] br.ProseMirror-trailingBreak {
    display: none;
  }

  .is-empty::before {
    color: var(--chakra-colors-zinc-400);
    content: attr(data-placeholder);
    float: left;
    pointer-events: none;
    height: 0;
  }

  &.ProseMirror-focused {
    outline: none;

    .ProseMirror-selectednode iframe,
    .ProseMirror-selectednode img,
    .has-focus .multiple-choice {
      box-shadow: var(--chakra-shadows-outline);
    }
  }

  ul {
    list-style-type: disc;

    p {
      margin: 0;
    }
  }

  .toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .node-multipleChoice,
  .lesson-preview {
    p {
      margin: 0;
    }
    a {
      color: initial;
    }
  }

  ul[data-type='taskList'] {
    padding: 0;

    p {
      margin: 0;
    }

    li {
      display: flex;
      align-items: flex-start;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    input[type='checkbox'] {
      cursor: pointer;
    }
  }

  table p {
    margin: 0;
  }

  mark {
    background: #fff8c5;
  }

  .has-focus:not(.react-renderer) {
    background-color: var(--chakra-colors-violet-50);
  }

  .ProseMirror-separator {
    display: none;
  }
}

hr.chakra-divider {
  opacity: 1;
}

textarea:focus {
  box-shadow: none;
  outline: none;
}

.cover-image-wrapper {
  > span {
    position: unset !important;
  }

  .image {
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.animated-border {
  // Tailwind: orange 400, yellow 400, sky 400, violet 700
  background: conic-gradient(#fb923c, #facc15, #38bdf8, #6d28d9, #fb923c);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  margin: -2px;
}

.details-content div > :first-child {
  margin-top: 0;
}

.details-content div > :last-child {
  margin-bottom: 0;
}

textarea::-webkit-input-placeholder {
  color: var(--chakra-colors-zinc-400);
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: var(--chakra-colors-zinc-400);
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--chakra-colors-zinc-400);
}

textarea:-ms-input-placeholder {
  color: var(--chakra-colors-zinc-400);
}

textarea::placeholder {
  color: var(--chakra-colors-zinc-400);
}
