@import 'github-markdown-css/github-markdown-light.css';

.ProseMirror {
  p.is-empty::before {
    color: var(--chakra-colors-gray-400);
    content: attr(data-placeholder);
    float: left;
    pointer-events: none;
    height: 0;
    font-style: italic;
  }

  &.ProseMirror-focused {
    outline: none;

    .ProseMirror-selectednode iframe {
      box-shadow: var(--chakra-shadows-outline);
    }
  }

  ul {
    list-style-type: disc;
  }
}

hr.chakra-divider {
  opacity: 1;
}

body {
  color: green !important;
}
