.ProseMirror {
  br + br.ProseMirror-trailingBreak,
  &[contenteditable='false'] br.ProseMirror-trailingBreak {
    display: none;
  }

  .is-empty::before {
    color: var(--chakra-colors-zinc-400);
    content: attr(data-placeholder);
    float: left;
    pointer-events: none;
    height: 0;
  }

  &.ProseMirror-focused {
    outline: none;

    .ProseMirror-selectednode iframe,
    .ProseMirror-selectednode img,
    .has-focus .multiple-choice {
      box-shadow: var(--chakra-shadows-outline);
    }
  }

  ul {
    list-style-type: disc;

    p {
      margin: 0;
    }
  }

  .toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .node-multipleChoice,
  .lesson-preview {
    p {
      margin: 0;
    }
    a {
      color: initial;
    }
  }

  ul[data-type='taskList'] {
    padding: 0;

    p {
      margin: 0;
    }

    li {
      display: flex;
      align-items: flex-start;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    input[type='checkbox'] {
      cursor: pointer;
    }
  }

  // table p {
  //   margin: 0;
  // }

  table {
    td > :first-child,
    th > :first-child {
      margin-top: 0 !important;
    }

    td > :last-child,
    th > :last-child {
      margin-bottom: 0 !important;
    }

    .selectedCell {
      position: relative;

      &:after {
        background-color: var(--chakra-colors-violet-500);
        opacity: 0.1;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
        position: absolute;
        z-index: 2;
      }
    }
  }

  mark {
    background: #fff8c5;
    color: inherit;
  }

  .has-focus {
    &:not(.react-renderer):not(pre) {
      background-color: var(--chakra-colors-violet-50);
    }
  }

  pre.has-focus {
    background-color: var(--chakra-colors-zinc-700);
  }

  .ProseMirror-separator {
    display: none;
  }
}

hr.chakra-divider {
  opacity: 1;
}

textarea:focus {
  box-shadow: none;
  outline: none;
}

.cover-image-wrapper {
  > span {
    position: unset !important;
  }

  .image {
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.animated-border {
  // Tailwind: orange 400, yellow 400, sky 400, violet 700
  background: conic-gradient(#fb923c, #facc15, #38bdf8, #6d28d9, #fb923c);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  margin: -2px;
}

.details-content div > :first-child {
  margin-top: 0;
}

.details-content div > :last-child {
  margin-bottom: 0;
}

textarea::-webkit-input-placeholder {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--chakra-colors-zinc-400);
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: var(--chakra-colors-zinc-400);
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--chakra-colors-zinc-400);
}

textarea:-ms-input-placeholder {
  color: var(--chakra-colors-zinc-400);
}

textarea::placeholder {
  color: var(--chakra-colors-zinc-400);
}

.swiper-slide {
  opacity: 0.2;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  overflow: hidden;
}

.swiper-slide-active {
  opacity: 1;
  overflow: auto;
}

:root {
  --swiper-navigation-color: var(--chakra-colors-zinc-700) !important;
  --swiper-theme-color: var(--chakra-colors-zinc-700) !important;
}

.drag-handler {
  color: var(--chakra-colors-zinc-500);
  position: absolute;
  // cursor: grab;
  z-index: 9;
  margin: 0 auto;
  padding: 0 4px;
  display: flex;
  align-items: center;

  // &:hover {
  //   background-color: rgba(24, 24, 27, 0.04);
  //   color: var(--chakra-colors-zinc-700);
  // }
}

.chakra-portal :first-child {
  z-index: 1;
}

.chakra-menu__menu-list {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
